@model PetsProject.Models.Damakeba
<head>
    <title>Pet Sitting - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/Main/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Main/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Main/css/magnific-popup.css">


    <link rel="stylesheet" href="~/Main/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Main/css/jquery.timepicker.css">

    <link rel="stylesheet" href="~/Main/css/flaticon.css">
    <link rel="stylesheet" href="~/Main/css/style.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="~/VetRegistration/VetDetails.css" rel="stylesheet" />
    <!------ Include the above in your HEAD tag ---------->
</head>
<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eCommerce Product Detail</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

</head>

<body>
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a asp-controller="Home" asp-action="Index">მთავარი <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a asp-controller="Damakeba" asp-action="Products">დამაკება <i class="ion-ios-arrow-forward"></i></a></span><span class="mr-2"><a href="#">დეტალურად <i class="ion-ios-arrow-forward"></i></a></span></p>
                    <h1 class="mb-0 bread">დეტალურად</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">
                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1">
                                <img src="~/images/VetPhoto/photonotavailable.jpg"/>
                            </div>
                        </div>

                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">@Model.Title</h3>
                        <p class="product-description">@Model.Description </p>
                        <h4 class="price">ძაღლის ასაკი: <span style="color:green;">@Model.Age წლის</span></h4>
                        <h4 class="price">ძაღლის სქესი: <span style="color:green;">@Model.Sex</span></h4>
                        <h4 class="price">ძაღლის ჯიში: <span style="color:green;">@Html.DisplayFor(model => model.Jishebi)</span></h4>
                        <h4 class="price">ძაღლის საბუთი: <span style="color:green;">@Model.Document</span></h4>
                        <h4 class="price">ქალაქი: <span style="color:green;">@Model.City</span></h4>
                        <h4 class="price">საკონტაქტო სახელი: <span style="color:green;">@Model.EmployeName</span></h4>
                        <h4 class="price">ტელეფონის ნომერი: <span style="color:green;">@Model.PhoneNumber</span></h4>
                        <p>განცხადება განთავსებულია : @Model.Published</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>




<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


<script src="~/Main/js/jquery.min.js"></script>
<script src="~/Main/js/jquery-migrate-3.0.1.min.js"></script>
<script src="~/Main/js/popper.min.js"></script>
<script src="~/Main/js/bootstrap.min.js"></script>
<script src="~/Main/js/jquery.easing.1.3.js"></script>
<script src="~/Main/js/jquery.waypoints.min.js"></script>
<script src="~/Main/js/jquery.stellar.min.js"></script>
<script src="~/Main/js/jquery.animateNumber.min.js"></script>
<script src="~/Main/js/bootstrap-datepicker.js"></script>
<script src="~/Main/js/jquery.timepicker.min.js"></script>
<script src="~/Main/js/owl.carousel.min.js"></script>
<script src="~/Main/js/jquery.magnific-popup.min.js"></script>
<script src="~/Main/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="~/Main/js/google-map.js"></script>
<script src="~/Main/js/main.js"></script>
