@model PetsProject.Models.JobVacancy
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="~/VetRegistration/css/VetRegistration.css" rel="stylesheet" />

<div class="container">
    <h1 class="well">ვაკანსიის დამატება</h1>
    <div class="col-lg-12 well">
        <div class="row">
            <form method="post" autocomplete="off" asp-action="CreateVacancy">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>დასახელება</label>
                            <input type="text" asp-for="JobName" autocomplete="off" placeholder="დასახელება.." class="form-control">
                            <span asp-validation-for="JobName" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>ქალაქი</label>
                            <select asp-for="City" class="form-control" asp-items="@Html.GetEnumSelectList<PetsProject.Models.City>()">
                                <option selected="selected" value="">გთხოვთ აირჩიეთ ქალაქი..</option>
                            </select>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>მოვალეობა</label>
                            <input type="text" asp-for="JobDescription" autocomplete="off" placeholder="მოვალეობის აღწერა.." class="form-control">
                            <span asp-validation-for="JobDescription" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>კანდიდატის ასაკი</label>
                            <input type="text" placeholder="X წლიდან.." autocomplete="off" asp-for="Age" class="form-control">
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>სქესი</label>
                            <select asp-for="PersonSex" class="form-control" asp-items="@Html.GetEnumSelectList<PetsProject.Models.PersonSex>()">
                                <option selected="selected" value="">სქესი..</option>
                            </select>
                            <span asp-validation-for="PersonSex" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>დღეები</label>
                            <select asp-for="Week" class="form-control" asp-items="@Html.GetEnumSelectList<PetsProject.Models.Week>()">
                                <option selected="selected" value="">სამუშაო დღეები კვირაში..</option>
                            </select>
                            <span asp-validation-for="Week" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>დასაწყისი</label>
                            <select asp-for="StartTime" class="form-control" asp-items="@Html.GetEnumSelectList<PetsProject.Models.StartTime>()">
                                <option selected="selected" value="">სამუშაოს დაწყება..</option>
                            </select>
                            <span asp-validation-for="StartTime" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>დასასრული</label>
                            <select asp-for="EndTime" class="form-control" asp-items="@Html.GetEnumSelectList<PetsProject.Models.EndTime>()">
                                <option selected="selected" value="">სამუშაოს დასასრული დასასრული..</option>
                            </select>
                            <span asp-validation-for="EndTime" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>ხელფასი</label>
                            <input type="text" placeholder="X ლარი.." autocomplete="off" asp-for="Sallary" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>ვაკანსიის სრული აღწერა</label>
                        <textarea placeholder="დაწერეთ თქვენს შესახებ(მაქს.300 სიტყვა).." asp-for="FullDescription" rows="3" class="form-control"></textarea>
                        <span asp-validation-for="FullDescription" class="text-danger"></span>
                    </div>
                    <div class="row">
                    </div>
                    <div class="form-group">
                        <label>მობილურის ნომერი</label>
                        <input type="text" placeholder=" xxx xx xx xx.." asp-for="PhoneNumber" autocomplete="off" class="form-control">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>საკონტაქტო სახელი</label>
                        <input type="text" asp-for="EmployerName" autocomplete="off" class="form-control">
                        <span asp-validation-for="EmployerName" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-lg btn-info">რეგისტრაცია</button>
                </div>
            </form>
        </div>
    </div>
</div>




<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


<script src="~/Main/js/jquery.min.js"></script>
<script src="~/Main/js/jquery-migrate-3.0.1.min.js"></script>
<script src="~/Main/js/popper.min.js"></script>
<script src="~/Main/js/bootstrap.min.js"></script>
<script src="~/Main/js/jquery.easing.1.3.js"></script>
<script src="~/Main/js/jquery.waypoints.min.js"></script>
<script src="~/Main/js/jquery.stellar.min.js"></script>
<script src="~/Main/js/jquery.animateNumber.min.js"></script>
<script src="~/Main/js/bootstrap-datepicker.js"></script>
<script src="~/Main/js/jquery.timepicker.min.js"></script>
<script src="~/Main/js/owl.carousel.min.js"></script>
<script src="~/Main/js/jquery.magnific-popup.min.js"></script>
<script src="~/Main/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="~/Main/js/google-map.js"></script>
<script src="~/Main/js/main.js"></script>